# Docker related
docker-compose*
docker
docker/
docker/*
.dockerignore

# Git related
.git
.git/
.git/*
.gitignore

# Local develepment artifacts
env
env/
env/*

venv
venv/
venv/*

virtualenv
virtualenv/
virtualenv/*

# MacOS files configuration
.DS_Store

# VSCode settings
.vscode
.vscode/
.vscode/*

# Development env files
.env.*

# Repository related
*.md
