# Docker related
docker-compose*

# Git related
.git
.git/
.git/*
.gitignore

# Local develepment artifacts
env
env/
env/*

venv
venv/
venv/*

# MacOS files configuration
.DS_Store

# VSCode settings
.vscode
.vscode/
.vscode/*

# Repository related
README.md
